


<div class="row">
  <div class="col-sm-6">
    <h1>Form_submissions</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_form_submission_path, class: 'btn btn-primary' do %>
    Add New Form submission
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Form</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @form_submissions.each do |form_submission| %>
        <%= content_tag :tr, id: dom_id(form_submission), class: dom_class(form_submission) do %>
          

                      <td><%= form_submission.form %></td>
                      <td><%= form_submission.user %></td>
          
          
            <td><%= link_to 'Show', form_submission %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
