


<div class="row">
  <div class="col-sm-6">
    <h1>Form_attributes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_form_attribute_path, class: 'btn btn-primary' do %>
    Add New Form attribute
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Label</th>
            <th>Field type</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @form_attributes.each do |form_attribute| %>
        <%= content_tag :tr, id: dom_id(form_attribute), class: dom_class(form_attribute) do %>
          

                      <td><%= form_attribute.label %></td>
                      <td><%= form_attribute.field_type %></td>
          
          
            <td><%= link_to 'Show', form_attribute %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
