


<div class="row">
  <div class="col-sm-6">
    <h1>Form_values</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_form_value_path, class: 'btn btn-primary' do %>
    Add New Form value
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Form attribute</th>
            <th>Form</th>
            <th>Value</th>
            <th>Form submission</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @form_values.each do |form_value| %>
        <%= content_tag :tr, id: dom_id(form_value), class: dom_class(form_value) do %>
          

                      <td><%= form_value.form_attribute %></td>
                      <td><%= form_value.form %></td>
                      <td><%= form_value.value %></td>
                      <td><%= form_value.form_submission %></td>
          
          
            <td><%= link_to 'Show', form_value %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
